@tailwind base;
@tailwind components;
@tailwind utilities;

.spinner-border {
  border-top-color: transparent;
  border-right-color: currentColor;
  border-bottom-color: transparent;
  border-left-color: currentColor;
}
